section.canhcam-home-6
	article.home-list
		.container
			h2.tna__title.tna__title--extra-2 Đối tác khách hàng
			.row
				.col-12
					.wrap-partner
						.partner-item
							.item
								img(src="./img/home/12.png", alt="", srcset="")
						.partner-item
							.item
								img(src="./img/home/13.png", alt="", srcset="")
						.partner-item
							.item
								img(src="./img/home/14.png", alt="", srcset="")
						.partner-item
							.item
								img(src="./img/home/15.png", alt="", srcset="")
						.partner-item
							.item
								img(src="./img/home/16.png", alt="", srcset="")
						.partner-item
							.item
								img(src="./img/home/17.png", alt="", srcset="")
						.partner-item
							.item
								img(src="./img/home/17.png", alt="", srcset="")
					ul#home6-controls.controls(aria-label='Carousel Navigation', tabindex='0')
						li.prev(data-controls='prev', aria-controls='customize', tabindex='-1')
							span.lnr.lnr-chevron-left
						li.next(data-controls='next', aria-controls='customize', tabindex='-1')
							span.lnr.lnr-chevron-right
