.canhcam-tab-1
	article.tabs-list
		h3 Tốc độ kết nối chuẩn N
		p Twich Cisco -SF95D-08  Wifi Chuẩn N Tốc Độ 300Mbps sở hữu tốc độ kết nối chuẩn N giúp bạn hạn chế tối đa sự mất mát dữ liệu khi truyền tải trên khoảng cách xa và xuyên qua các vật chắn trong các văn phòng nhỏ hoặc căn hộ lớn, thậm chí ngay cả trong các công trình thép và bê tông. Ngoài ra, bạn có thể dễ dàng bắt được sóng ở khoảng cách kết nối rất xa nơi các thiết bị chuẩn 11g trước đây không thể làm được.
		br
		img(src="./img/product_detail/tab_1.png", alt="")
		h3 Phạm vi và tốc độ không dây chuẩn N
		p Tuân theo chuẩn  IEEE 802.11n, thiết bị Twich Cisco -SF95D-08có thể thiết lập một hệ thống mạng không dây và đạt được tốc độ gấp 15 lần và phạm vi gấp 5 lần đối với các sản phẩm 11g. Bên cạnh đó tốc độ truyền tải đạt được tới 300Mbps
		br
		img(src="./img/product_detail/tab_2.png", alt="")
		br
		p Sản phẩm này cho thấy khả năng tuyệt vời trong việc giảm thiểu tình trạng mất mát dữ liệu trong một khoảng cách tầm xa và xuyên qua các chướng ngại vật trong một căn hộ lớn hoặc một văn phòng nhỏ, thậm chí trong một tòa nhà có cấu tạo cốt thép bê tông vững chắc. Vượt lên trên tất cả, bạn có thể dễ dàng chọn được hệ thống mạng không dây trong quá trình kết nối tầm xa, chức năng mà các sản phẩm 11g kế thừa có thể không làm được! Nó cũng có nghĩa là bộ định tuyến sẽ có được một tốc độ tuyệt vời để kết nối liền lạc với hầu hết các ứng dụng nhạy cảm chuyên biệt như gọi VoIP, xem video HD trực tuyến, hoặc chơi game trực tuyến mà không bị lag
		br
		h3 Chế độ bảo mật nâng cao - Mã Hóa WPA/WPA2
		p Về vấn đề bảo mật đối với kết nối WI-FI, chế độ mã hóa WEP đã không còn là một người vệ sĩ mạnh nhất và an toàn nhất đối với các mối đe dọa bên ngoài. Thiết bị Twich Cisco -SF95D-08 được trang bị chế độ bảo mật WPA/WPA2 (dành cho Cá Nhân và Doanh Nghiệp). Tính năng này do tập đoàn công nghệ Wi-Fi Alliance thiết kế ra nhằm thúc đầy khả năng bảo mật đối với WLAN. IP QoS - Kiểm soát băng thông một cách hợp lý
		br
		p Khi sử dụng mạng không dây, thói quen lướt web bừa bãi và download ngốn băng thông của người dùng thường làm cho băng thông trong nhà và văn phòng trở nên khá hạn hẹp. Chính vì vậy mà sản phẩm Twich Cisco -SF95D-08 mang đến cho bạn tính năng IP QoS, cho phép khả năng sử dụng tối ưu băng thông và kiểm soát băng thông tránh tình trạng tắc nghẽn, ngăn chặn việc lạm dụng băng thông. Bằng phương thức này, người dùng các mạng trung bình nhỏ sẽ được hưởng mức băng thông cụ thể theo như cam kết, tránh các ứng dụng không quan trọng làm giảm hiệu suất mạng.
		br
		h3 Tính năng sản phẩm
		p Tốc độ không dây chuẩn N lên đến 300Mbps, rất thuận lợi để sử dụng cho các ứng dụng nhạy nặng nhiều băng thông và hay đức quãng như xem video trực tuyến, chơi game trực tuyến và gọi VoIP. Dễ dàng thiết lập một kết nối bảo mật được mã hóa WPA khi bạn bấm nút WPS. Chức năng QoS đảm bảo chất lượng cuộc gọi VoIP và khả năng phát các trình đa phương tiện. Hỗ trợ chức năng Univeral Repeater. Nút nhấn Mở/Tắt Wi-Fi cho phép người dùng tắt mở sóng không dây một cách đơn giản. Trang bị tính năng quyển kiểm soát của phụ huynh cho phép quản lý truy cập internet của trẻ em hoặc nhân viên. 
		br
		h3 Dễ dàng cài đặt
		p Thiết bị đi kèm với một đĩa CD với chức năng Easy Setup Assistant sẽ hướng dẫn bạn cài đặt từng bước một, thậm chí cả phần cài đặt chức năng không dây và cấu hình bảo mật, rất thuận tiện cho người dùng, đặc biệt là những người dùng mới làm quen với sản phẩm
