section.canhcam-nav-1
	article.nav-list
		.container
			.row
				.col-12
					h1.tna__title.tna__title--extra-3 Thư Viện
					a.nav__toogle(href="javascript:void(0)",) Danh mục 
					nav
						ul
							li
								a.active(href="gallery-image.html") Thư viện ảnh
							li
								a(href="gallery-video.html") Thư viện video