header.cc-header
	.desktop-container.container
		.row.no-gutters.menu-wrap
			.logo-wrap
				a(href="/")
					.logo
						img.desktop(src="./img/logo_1.png", alt="logo")
						img.mobile(src="./img/logo_2.png", alt="logo")
					.logo-text
						h2 TNA IT SOLUTION
						span Together we grow
			.main-navbar
				.toolbar
					.language
						.current-lang
							.img
								img(src="./img/uk.png")
						span.lnr.lnr-chevron-down
						ul
							li
								a(href="#")
									img(src="./img/uk.png")
							li
								a(href="#")
									img(src="./img/uk.png")
					.cart
						.cart-toggle
							span.fas.fa-shopping-cart
							span.product-count 3
						//- .cart-panel
						//- 	.cart-header
						//- 		span Có 1 sản phẩm trong 
						//- 		a(href="/cart") giỏ hàng
						//- 		span.fas.fa-times
						//- 	.cart-body
						//- 		ul.cart-list-item
						//- 			li.item
						//- 				.product-img
						//- 					a(href="product-detail.html")
						//- 						img(src="./img/product/1.png", alt="")
						//- 				.product-info
						//- 					a(href="product-detail.html")
						//- 						h6.name Switch Cisco Cisco cisco cis co Switch Cisco Cisco cisco cis co Switch Cisco Cisco cisco cis co
						//- 					p
						//- 						b.price 12.549.000 đ 
						//- 						| x 
						//- 						b.amount 3
						//- 				.remove-product
						//- 					span.fas.fa-trash
						//- 			li.item
						//- 				.product-img
						//- 					a(href="product-detail.html")
						//- 						img(src="./img/product/1.png", alt="")
						//- 				.product-info
						//- 					a(href="product-detail.html")
						//- 						h6.name Switch Cisco Cisco cisco cis co Switch Cisco Cisco cisco cis co Switch Cisco Cisco cisco cis co
						//- 					p
						//- 						b.price 12.549.000 đ 
						//- 						| x 
						//- 						b.amount 3
						//- 				.remove-product
						//- 					span.fas.fa-trash
						//- 			li.item
						//- 				.product-img
						//- 					a(href="product-detail.html")
						//- 						img(src="./img/product/1.png", alt="")
						//- 				.product-info
						//- 					a(href="product-detail.html")
						//- 						h6.name Switch Cisco Cisco 
						//- 					p
						//- 						b.price 12.549.000 đ 
						//- 						| x 
						//- 						b.amount 3
						//- 				.remove-product
						//- 					span.fas.fa-trash
						//- 			li.item
						//- 				.product-img
						//- 					a(href="product-detail.html")
						//- 						img(src="./img/product/1.png", alt="")
						//- 				.product-info
						//- 					a(href="product-detail.html")
						//- 						h6.name Switch Cisco Cisco 
						//- 					p
						//- 						b.price 12.549.000 đ 
						//- 						| x 
						//- 						b.amount 3
						//- 				.remove-product
						//- 					span.fas.fa-trash
						//- 			li.item
						//- 				.product-img
						//- 					a(href="product-detail.html")
						//- 						img(src="./img/product/1.png", alt="")
						//- 				.product-info
						//- 					a(href="product-detail.html")
						//- 						h6.name Switch Cisco Cisco 
						//- 					p
						//- 						b.price 12.549.000 đ 
						//- 						| x 
						//- 						b.amount 3
						//- 				.remove-product
						//- 					span.fas.fa-trash
						//- 	.cart-total
						//- 		p
						//- 			span Tạm tính: 
						//- 			b.total-price 12.549.000 đ
						//- 	.cart-footer
						//- 		a.btn.btn-cart-checkout(href="/checkout-1.html")
						//- 			span.fas.fa-shopping-cart
						//- 			span Tiến hành thanh toán
					.user
						.user-toggle
							span.fas.fa-user
						.user-panel
							ul
								li
									a(href="javascript:void(0)") Đăng ký
								li
									a(href="javascript:void(0)") Đăng nhập
					.search
						.search-toggle
							span.fas.fa-search
						.search-panel
							.search-turn-off
								span.fas.fa-times
							.searchbox
								input.searchinput(type='text', placeholder='Tìm kiếm')
								button.searchbutton Tìm kiếm
				.nav
					ul.nav-list
						li.nav-item
							a.nav-link(href="about-1.html") Giới thiệu
						li.nav-item
							a.nav-link(href="service.html") Dịch vụ
						li.nav-item
							a.nav-link(href="product.html") Sản phẩm
						li.nav-item.active
							a.nav-link(href="solution.html") Giải pháp
						li.nav-item
							a.nav-link(href="news.html") Tin tức
						li.nav-item
							a.nav-link(href="faq.html") Hỗ trợ
						li.nav-item
							a.nav-link(href="contact.html") Liên hệ
			.menu-toggle
				span.fas.fa-bars