.canhcam-tab-2
	article.tabs-list
		.tab-head
			p Bảng mô tả chi tiết các đặc tính kỹ thuật của thiết bị
		.tab-body
			.tab-content
				.tab-title
					h4 Hardware Feautures
				.tab-table
					table.table
						tbody
							tr
								th(scope='row') Interface
								td |
								td Fast Ethernet (RJ-45) Port *1 (Support IEEE802.3af PoE)
							tr
								th(scope='row') ButtoButtonn
								td |
								td Reset
							tr
								th(scope='row') Power Supply
								td |
								td PoE or External 12VDC/ 1A
							tr
								th(scope='row') Power Consumption
								td |
								td 5W
							tr
								th(scope='row') Dimensions
								td |
								td 180 x 180 x 47.5 mm
							tr
								th(scope='row') Antenna Type
								td |
								td Internal 2 * 3dBi Omni
							tr
								th(scope='row') Mounting
								td |
								td Ceiling/Wall Mounting (Kits included)
							tr
								th(scope='row') Physical Security Lock
								td |
								td Kensington Lock Slot
							tr
								th(scope='row') Watch Dog
								td |
								td Yes
			.tab-content
				.tab-title
					h4 Wireless Features
				.tab-table
					table.table
						tbody
							tr
								th(scope='row') Interface
								td |
								td Fast Ethernet (RJ-45) Port *1 (Support IEEE802.3af PoE)
							tr
								th(scope='row') ButtoButtonn
								td |
								td Reset
							tr
								th(scope='row') Power Supply
								td |
								td PoE or External 12VDC/ 1A
							tr
								th(scope='row') Power Consumption
								td |
								td 5W
							tr
								th(scope='row') Dimensions
								td |
								td 180 x 180 x 47.5 mm
							tr
								th(scope='row') Antenna Type
								td |
								td Internal 2 * 3dBi Omni
							tr
								th(scope='row') Mounting
								td |
								td Ceiling/Wall Mounting (Kits included)
							tr
								th(scope='row') Physical Security Lock
								td |
								td Kensington Lock Slot
							tr
								th(scope='row') Watch Dog
								td |
								td Yes
			.tab-content
				.tab-title
					h4 Management
				.tab-table
					table.table
						tbody
							tr
								th(scope='row') Interface
								td |
								td Fast Ethernet (RJ-45) Port *1 (Support IEEE802.3af PoE)
							tr
								th(scope='row') ButtoButtonn
								td |
								td Reset
							tr
								th(scope='row') Power Supply
								td |
								td PoE or External 12VDC/ 1A
							tr
								th(scope='row') Power Consumption
								td |
								td 5W
							tr
								th(scope='row') Dimensions
								td |
								td 180 x 180 x 47.5 mm
							tr
								th(scope='row') Antenna Type
								td |
								td Internal 2 * 3dBi Omni
							tr
								th(scope='row') Mounting
								td |
								td Ceiling/Wall Mounting (Kits included)
							tr
								th(scope='row') Physical Security Lock
								td |
								td Kensington Lock Slot
							tr
								th(scope='row') Watch Dog
								td |
								td Yes