section.about-1
	.container
		h2.tna__title.tna__title--main Năng lực đội ngũ
		.row
			.col-md-10.col-lg-8.content
				p Làm việc và phát triển với triết lý kinh doanh, TNA tin tưởng rằng con người là những thiên tài và là chiếc chìa khóa dẫn tới thành công. 
				p Tại TNA, đội ngũ nhân viên được đào tạo, trang bị đầy đủ kiến thức và kỹ năng làm việc chuyên nghiệp. Đồng thời, TNA còn hội tụ nhiều chuyên gia công nghệ thông tin nhiều năm kinh nghiệm nhằm đem lại chất lượng dịch vụ đạt hiệu quả tối đa.
		.row.icon
			.col-6.col-md-3.item
				.img
					img(src="./img/about/icon_1.png", alt="")
				.title
					h4 Nhiều chuyên gia kinh nghiệm
			.col-6.col-md-3.item
				.img
					img(src="./img/about/icon_2.png", alt="")
				.title
					h4 Đội ngũ nhân viên đào tạo bài bản
			.col-6.col-md-3.item
				.img
					img(src="./img/about/icon_3.png", alt="")
				.title
					h4 Làm việc với tinh thần đầy nhiệt huyết
			.col-6.col-md-3.item
				.img
					img(src="./img/about/icon_4.png", alt="")
				.title
					h4 Không ngừng học hỏi và phát triển
