section.about-2
	.container
		h2.tna__title.tna__title--main Giới thiệu công ty
		.row
			.col-lg-6.img
				img(src="./img/about/1.jpg", alt="")
			.col-lg-6.content
				p Thành lập vào năm 2016, TNA là nhà cung cấp các giải pháp và dịch vụ công nghệ thông tin nhằm xây dựng môi trường doanh nghiệp năng động, chuyên nghiệp. 
				p Hiện chúng tôi ngày càng không ngừng cố gắng vươn lên trở thành nhà cung cấp uy tín với đối tác và khách hàng. 
		.row
			.col-lg-6.img.order-lg-2
				img(src="./img/about/2.jpg", alt="")
			.col-lg-6.order-lg-1.content
				p TNA cam kết mang đến cho khách hàng những sản phẩm danh tiếng và chất lượng dịch vụ vượt trội. Góp một phần quan trọng vào sự phát triển chung của doanh nghiệp và xã hội.
section.about-3
	.container-fluid
		.row.no-gutters
			.col-lg-6(bg-img="./img/about/bg_1.jpg")
			.col-lg-6(bg-img="./img/about/bg_2.jpg")
	.container
		.row
			.col-lg-6.vision
				h4 Tầm nhìn
				p TNA tập trung nổ lực nhằm trở thành một trong những doanh nghiệp cung cấp giải pháp công nghệ thông tin hàng đầu trên cả nước.
			.col-lg-6.mission
				h4 Sứ mệnh
				p Đem đến cho khách hàng và đối tác những giải pháp công nghệ thông tin với kỹ thuật tối ưu và chất lượng dịch vụ xuất sắc.
section.about-4
	.container
		h2.tna__title.tna__title--main Triết lý kinh doanh
		.row
		.row.icon
			.col-6.col-md-3.item
				.img
					img(src="./img/about/icon_1.png", alt="")
				.title
					h4 Sự thành công của khách hàng chính là thành công của chúng tôi
			.col-6.col-md-3.item
				.img
					img(src="./img/about/icon_2.png", alt="")
				.title
					h4 Hợp tác bền vững và lâu dài dựa trên sự tin tưởng lẫn nhau
			.col-6.col-md-3.item
				.img
					img(src="./img/about/icon_3.png", alt="")
				.title
					h4 Con người chính là chìa khóa của mọi thành công
			.col-6.col-md-3.item
				.img
					img(src="./img/about/icon_4.png", alt="")
				.title
					h4 Công nghệ thông tin không bao giờ ở tại chỗ
