section.canhcam-video-1
	article.video-list
		.container
			.row
				.col-lg-6.top-list
					.row
						.col-12.item.item-big
							figure
								.boxvideo
									a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
										img(src="/img/gallery/1.jpg", alt="alt")
					.row
						.col-6.item
							figure
								.boxvideo
									a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
										img(src="/img/gallery/1.jpg", alt="alt")
						.col-6.item
							figure
								.boxvideo
									a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
										img(src="/img/gallery/1.jpg", alt="alt")
				.col-lg-6.part-list
					.row
						.col-6.item
							figure
								.boxvideo
									a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
										img(src="/img/gallery/1.jpg", alt="alt")
						.col-6.item
							figure
								.boxvideo
									a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
										img(src="/img/gallery/2.jpg", alt="alt")
					.row
						.col-12.item.item-big
							figure
								.boxvideo
									a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
										img(src="/img/gallery/2.jpg", alt="alt")
			.row
				.col-lg-3.col-6.item
					figure
						.boxvideo
							a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
								img(src="/img/gallery/2.jpg", alt="alt")

				.col-lg-3.col-6.item
					figure
						.boxvideo
							a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
								img(src="/img/gallery/2.jpg", alt="alt")
				.col-lg-3.col-6.item
					figure
						.boxvideo
							a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
								img(src="/img/gallery/2.jpg", alt="alt")
				.col-lg-3.col-6.item
					figure
						.boxvideo
							a(href="https://www.youtube.com/watch?v=IPfJnp1guPc&start_radio=1&list=RDIPfJnp1guPc")
								img(src="/img/gallery/2.jpg", alt="alt")