section.canhcam-home-2
	article.home-list
		.container
			h2.tna__title.tna__title--white Tại sao chọn chúng tôi
			.row
				.col-6.col-lg-3.item
					figure
						.boxzoom
							.boxinner
								img(src="./img/home/icon_1.png", alt="alt")
						figcaption
							p
								| Đội ngũ chuyên gia
								br
								| nhiều kinh nghiệm
				.col-6.col-lg-3.item
					figure
						.boxzoom
							.boxinner
								img(src="./img/home/icon_2.png", alt="alt")
						figcaption
							p
								| Đối tác cung ứng 
								br
								| giải pháp uy tín
				.col-6.col-lg-3.item
					figure
						.boxzoom
							.boxinner
								img(src="./img/home/icon_3.png", alt="alt")
						figcaption
							p
								| Sản phẩm chất lượng 
								br
								| quốc tế
				.col-6.col-lg-3.item
					figure
						.boxzoom
							.boxinner
								img(src="./img/home/icon_4.png", alt="alt")
						figcaption
							p
								| Hiệu quả tối ưu với 
								br
								| giá cạnh tranh
