section.checkout
	.container
		.row
			.col.cart-title
				h3
					span.fas.fa-shopping-cart
					span Giỏ hàng của bạn (
					span 2 
					span sản phẩm)
		.row
			.col.cart-table-list
				table
					thead
						tr
							th Sản phẩm
							th Đơn giá
							th Số lượng
							th Thành tên
					tbody
						tr
							td
								figure
									img(src="./img/product/1.png", alt="")
									figcaption
										h4 Router Linksys
										p EA6100-EJ
							td
							td
							td