section.checkout
	.container
		.row.cart-title
			.col
				h3
					span.fas.fa-shopping-cart
					span Giỏ hàng của bạn (
					span 2 
					span sản phẩm)
		.row.cart-table-list
			.col
				table
					thead
						tr
							th Sản phẩm
							th Đơn giá
							th Số lượng
							th Thành tiền
					tbody
						tr
							td
								figure
									img(src="./img/product/4.png", alt="")
									figcaption
										h4 Router Linksys
										p EA6100-EJ
							td 551.000 đ
							td
								.quantity
									span.minus -
									input.quantity-number(type="text" value="1")
									span.plus +
							td 551.000 đ
						tr
							td
								figure
									img(src="./img/product/6.png", alt="")
									figcaption
										h4 Router Linksys
										p EA6100-EJ
							td 551.000 đ
							td
								.quantity
									span.minus -
									input.quantity-number(type="text" value="1")
									span.plus +
							td 551.000 đ
		.row.cart-total-price
			.col
				p
					span Tạm tính: 
					span.temp 2.101.000 đ
				p Giá chưa bao gồm VAT
		.row.cart-button-checkout
			a.btn.btn-prev(href="#")
				span.mdi.mdi-chevron-left
				span Tiếp tục mua hàng
			a.btn.btn-next(href="#")
				span Tiến hành thanh toán
				span.mdi.mdi-chevron-right
section.viewed-product
