section.canhcam-home-1(bg-img="./img/home/bg_1.jpg")
	article.home-list
		.container
			h2.tna__title.tna__title--extra-2 giải pháp công nghệ thông tin TNA
			.row
				.col-lg-6
					.content
						p
							| TNA cung cấp dịch vụ tư vấn, thiết kế, triển khai, giám sát và vận
							br
							| hành hệ thống công nghệ thông tin.
						p
							| Với thành phần là đội ngũ chuyên gia giỏi có nhiều năm kinh 
							br
							| nghiệm cùng hợp tác với các đối tác có uy tín trong lĩnh vực 
							br 
							| công nghệ thông tin, chúng tôi tự tin cung cấp các giải pháp tối 
							br
							| ưu và các dịch vụ chất lượng cao góp phần tăng hiệu suất hoạt 
							br
							| động cho doanh nghiệp.
					.seemore
						a(href="#") Xem thêm
				.col-lg-6
					img(src="./img/home/1.png", alt="")

