section.canhcam-product-detail-1
	article.product-list
		.container
			.row.no-gutters
				.col-lg-6
					.product-images
						.list-images
							.tns-item
								.item
									img(src="./img/product_detail/big_img_1.png", alt="")
							.tns-item
								.item
									img(src="./img/product_detail/big_img_1.png", alt="")
							.tns-item
								.item
									img(src="./img/product_detail/big_img_1.png", alt="")
							.tns-item
								.item
									img(src="./img/product_detail/big_img_1.png", alt="")
						.list-control
							.list-thumb
								.tns-item
									.item
										img(src="./img/product_detail/small_img_1.png", alt="")
								.tns-item
									.item
										img(src="./img/product_detail/small_img_2.png", alt="")
								.tns-item
									.item
										img(src="./img/product_detail/small_img_3.png", alt="")
								.tns-item
									.item
										img(src="./img/product_detail/small_img_3.png", alt="")
							ul#customize-controls.controls(aria-label='Carousel Navigation', tabindex='0')
								li.prev(data-controls='prev', aria-controls='customize', tabindex='-1')
									span.lnr.lnr-chevron-left
								li.next(data-controls='next', aria-controls='customize', tabindex='-1')
									span.lnr.lnr-chevron-right
				.col-lg-6
					.product-info
						h1 Switch Cisco
						.content.price
							.content-title.price-new
								| 515.000 
								small đ
								span (Giá đã bao gồm VAT)
							.content-des.price-old
								| 1.558.000
								small  đ
						.content
							.content-title Mã sản phẩm
							.content-des
								span :
								| CD-155
						.content
							.content-title Tình trạng
							.content-des.blue
								span :
								| Còn hàng
						.content
							.content-title Hãng sản xuất
							.content-des
								span :
								| Việt Nam
						.content
							.content-title Bảo hành
							.content-des
								span :
								| 24 tháng
						.content
							.content-title Mô tả
							.content-des
								span :
							.content-des-long
								p + Bao gồm 1 Port WAN 10/100 Mbps, 4 Port LAN
								p + 10/100 Mbps cho kết nối LAN
								p + Chuẩn Wifi b/g/n, sóng mạnh, hỗ trợ kết nối 32 users đồng thời.
								p + Tính năng firewall giúp công ty bạn kết nối an toàn

