extends _layout/_layout.pug

block var
	- title = 'Năng lực đội ngũ'
	- bodyClass = 'about-2-page'

block header
	include ../lib/header/index.pug
block main
	include ../lib/about/nav/index.pug
	include ../lib/about/a-1/index.pug
block footer
	include ../lib/footer/index.pug
	