extends _layout/_layout.pug

block var
	- title = 'Tổng quan'
	- bodyClass = 'about-1-page'

block header
	include ../lib/header/index.pug
block main
	include ../lib/about/nav/index.pug
	include ../lib/about/a-2/index.pug
block footer
	include ../lib/footer/index.pug
	