extends _layout/_layout.pug

block var
	- title = 'Finish'
	- bodyClass = 'finish-page'

block header
	include ../lib/header/index.pug
block main
	include ../lib/checkout/step/index.pug
	include ../lib/checkout/c-4/index.pug
block footer
	include ../lib/footer/index.pug