extends _layout/_layout.pug

block var
	- title = 'FAQ'
	- bodyClass = 'faq'

block header
	include ../lib/header/index.pug
block main
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/faq/f-1/index.pug
block footer
	include ../lib/footer/index.pug