extends _layout/_layout.pug

block var
	- title = 'Video'
	- bodyClass = 'video'

block header
	include ../lib/header/index.pug
block main
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/nav/n-2/index.pug
	include ../lib/video/v-1/index.pug
block footer
	include ../lib/footer/index.pug