extends _layout/_layout.pug

block var
	- title = 'Home'
	- bodyClass = 'index'

block header
	include ../lib/header/index.pug
block main
	include ../lib/banner/b-1/index
	include ../lib/home/h-1/index
	include ../lib/home/h-2/index
	section.canhcam-home-3-4
		include ../lib/home/h-3/index
		include ../lib/home/h-4/index
	include ../lib/home/h-5/index
	include ../lib/home/h-6/index
block footer
	include ../lib/footer/index.pug