extends _layout/_layout.pug

block var
	- title = 'News_detail'
	- bodyClass = 'news_detail'

block header
	include ../lib/header/index.pug
block main
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/news_detail/n-1/index.pug
block footer
	include ../lib/footer/index.pug