extends _layout/_layout.pug

block var
	- title = 'Product'
	- bodyClass = 'product'

block header
	include ../lib/header/index.pug
block main
	include ../lib/breadcrumb/b-2/index.pug
	include ../lib/product_detail/p-1/index.pug
	include ../lib/product_detail/p-2/index.pug
block footer
	include ../lib/footer/index.pug