section.canhcam-job-detail-1
	article.jobs-list
		.container
			.row
				.col-lg-9
					.job-read
						h1 Tuyển dụng nhân viên kinh doanh
						time
							em.fas.fa-calendar-alt
							| 30/12/2018
						.content
							h3 Thông tin tuyển dụng
							p Vị trí tuyển dụng: Nhân viên kinh doanh
							p Chức vụ: Nhân viên
							p Yêu cầu giới tính: Nam
							p Địa điểm làm việc: Thành phố Hồ Chí Minh
							p Yêu cầu độ tuổi: Không yêu cầu
							p Mức lương: 5-7 triệu
							p Bằng cấp tối thiểu: Trung cấp
							p Số lượng cần tuyển: 3
							p Hình thức làm việc: Toàn thời gian cố định
							p Kinh nghiệm tối thiểu: 1 năm
							br
							h3 Mô tả công việc
							ul
								li Làm việc tại Tp. HCM
								li Thời gian làm việc bắt đầu từ 8h30 - 17h30
								li Duy trì những quan hệ kinh doanh hiện có, tìm kiếm khách hàng mới, khách hàng tiềm năng;
								li Lập kế hoạch công tác tuần, báo cáo hàng ngày cho Giám sát kinh doanh
								li Hiểu rõ và thuộc tính năng, bao bì, giá, ưu nhược điểm của sản phẩm, sản phẩm tương tự, sản phẩm của đối thủ cạnh tranh.
								li Nắm được quy trình tiếp xúc khách hàng, quy trình xử lý khiếu nại thông tin, quy trình nhận và giải quyết thông tin khách hàng 
								li Tiếp xúc khách hàng và ghi nhận toàn bộ các thông tin của khách hàng trong báo cáo tiếp xúc khách hàng. 
								li Báo cáo nội dung tiếp xúc khách hàng trong ngày cho Giám sát kinh doanh.
							br
							h3 Quyền lợi được hưởng
							ul
								li Tham gia đầy đủ chế độ bảo hiểm khi ký hợp đồng lao động chính thức
								li Thưởng các ngày lễ trong năm...
								li Môi trường làm việc nhiều cơ hội thăng tiến.
							br
							h3 Yêu cầu khác
							p Ưu tiên ứng viên có kinh nghiệm bán hàng trong lĩnh vực công nghệ
							br
							h3 Hồ sơ gồm có
							ul
								li Chứng minh nhân dân (bản photo)
								li Sổ hộ khẩu (bản photo)
								li Đơn xin việc
								li Sơ yếu lý lịch
								li Bằng cấp (nếu có)
							br
							table.table
								tbody
									tr
										th Hạn nộp hồ sơ
										td.red 15/05/2019
									tr
										th Ngày đăng tuyển
										td 30/12/2018
									tr
										th Hình thức nộp hồ sơ
										td Mọi hình thức
							br
							h3 Thông tin liên hệ
							p
								strong Người liên hệ: Phòng Nhân Sự
							p
								strong Địa chỉ:
								| 423/9/1 Đào Sư Tích, xã Phước Lộc, huyện Nhà Bè, Tp. HCM
							p
								strong Email: contact@tnatech.net
							p
								strong Điện thoại: (+84) 977 212 455
						.btnGroup
							a.download(href="") Tải mẫu đơn xin việc
							a.apply(href="") Ứng tuyển ngay
				.col-lg-3
					.otherjob
						h2 Tin tuyển dụng khác
						.lists
							.item
								time
									em.fas.fa-calendar-alt
									| 30/12/2018
								h4 
									a(href="#") Tuyển gấp nhân viên tạp vụ làm việc tại Biên Hoà
							.item
								time
									em.fas.fa-calendar-alt
									| 30/12/2018
								h4 
									a(href="#") Tuyển Nhân viên thu mua tại Biên Hoà
							.item
								time
									em.fas.fa-calendar-alt
									| 30/12/2018
								h4 
									a(href="#") Tuyển gấp nhân viên bảo vệ làm việc tại Tp. HCM
							.item
								time
									em.fas.fa-calendar-alt
									| 30/12/2018
								h4
									a(href="#") Tuyển nam công nhân bốc xếp hàng hóa tại khu công nghiệp 
							.item
								time
									em.fas.fa-calendar-alt
									| 30/12/2018
								h4
									a(href="#") Tuyển gấp nhân viên kho lạnh làm việc tại Biên Hoà
