section.checkout
	.container
		.row
			.col-lg-8
				.cart-title(style="opacity: 0; visible: hidden")
					h3
						span.fas.fa-shopping-cart
						span Giỏ hàng (
						span 2 
						span sản phẩm)
				.login-wrap
					.type-new-user
						input#user-new(type="radio", name="user" checked)
						label#user-new-label.active(for="user-new") Tôi là khách hàng mới
						.form-user-new
							.form-group
								input#register(type="radio", name="account" checked)
								label#register-label.active(for="register") Đăng ký tài khoản
								.checkout-w-register
									.form-group
										input(type="text" placeholder="Họ và tên tài khoản")
									.form-group
										input(type="text" placeholder="Email")
									.form-group
										input(type="text" placeholder="Số điện thoại")
									.form-group
										input(type="text" placeholder="Mật khẩu")
									.form-group
										input(type="text" placeholder="Xác nhận mật khẩu")
									.form-group
										input(type="text" placeholder="Địa chỉ")
									.form-button
										button Tạo tài khoản
							.form-group
								input#wo-register(type="radio", name="account")
								label#wo-register-label(for="wo-register") Tiếp tục thanh toán không cần đăng ký
								.checkout-wo-register
									.form-group
										label(for="email") Vui lòng nhập Email
										input#email(type="text", name="email")
									.form-button
										button Tiếp tục
					.type-old-user
						input#user-old(type="radio", name="user")
						label#user-old-label(for="user-old") Tôi đã có tài khoản
			.col-lg-4
				.cart-title
					h3
						span.fas.fa-shopping-cart
						span Giỏ hàng (
						span 2 
						span sản phẩm)
				.cart-order-summary
					table
						tbody
							tr
								td
									figure
										a(href="")
											img(src="./img/product/4.png", alt="")
										figcaption
											h4 
												a(href="") Router Linksys
											p EA6100-EJ
								td 
									p.price 551.000 đ
									p 
										span x 
										span.quantity 2
									p.total-price 1.100.000
							tr
								td
									figure
										a(href="")
											img(src="./img/product/4.png", alt="")
										figcaption
											h4 
												a(href="") Router Linksys
											p EA6100-EJ
								td 
									p.price 551.000 đ
									p 
										span x 
										span.quantity 2
									p.total-price 1.100.000
							tr.amount.price
								td Tổng tiền
								td 2.200.000 đ
							tr.amount.sale
								td Giảm giá
									span.fas.fa-question-circle(data-toggle="tooltip" data-placement="top" title="Tooltip nội dung ở đây")
								td 199.000 đ
							tr.amount.shipping
								td Phí vận chuyển
								td 50.000 đ
							tr.amount.price
								td Số tiền phải thanh toán
								td 10.000.000 đ
			