section.canhcam-contact-1
	article.contact-list
		.container
			h1.tna__title.tna__title--extra-3 Liên hệ
			.row.no-gutters
				.col-lg-5.info-wrap
					.info-inner
						img(src="./img/contact/logo_contact.png", alt="")
						h4
							| Công Ty Thương Mại Và Dịch Vụ Công
							br
							| Nghệ Thông Tin TNA
						p 423/9/1 Đào Sư Tích, xã Phước Lộc, huyện Nhà 
						p Bè, Thành phố Hồ Chí Minh, VN
						p Điện thoại: (+84) 977 212 455
						p Email: contact@tnatech.net
						p Website: www.tnatech.net 
				.col-lg-7
					.map
						iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.3077935009032!2d106.69468591480084!3d10.787721492313871!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f351e2c245f%3A0xb2887356ab89d12b!2zQ8OhbmggQ2Ft!5e0!3m2!1svi!2s!4v1545191418370" frameborder="0" style="border:0" allowfullscreen)