section.canhcam-banner-1
	article.banners-list
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.slide-inner
						.slide-img
							img.img-fluid(src="./img/home/home_banner_1.png", alt="")
						.slide-title
							.container
								.row
									.col
										h2
											| TNA - Giải pháp 
											br
											| công nghệ thông tin 
											br
											| tinh gọn
				.swiper-slide
					.slide-inner
						.slide-img
							img.img-fluid(src="./img/home/home_banner_2.png", alt="")
						.slide-title
							.container
								.row
									.col
										h2
											| Nỗ lực trong từng 
											br
											| giải pháp - Hợp tác 
											br
											| phát triển bền vững
				.swiper-slide
					.slide-inner
						.slide-img
							img.img-fluid(src="./img/home/home_banner_3.png", alt="")
						.slide-title
							.container
								.row
									.col
										h2
											| Cam kết bằng tất cả
											br 
											| đam mê và tinh thần
											br 
											| trách nhiệm
			.swiper-pagination