<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="TNA-HoTro.xslt" name="Danh sách Hỗ Trợ"></templatelist>
  <templatelist xsltname="TinTucDS.xslt" name="Danh sách Tin Tức"></templatelist>
  <templatelist xsltname="gallery.xslt" name="Danh sách Ảnh"></templatelist>
  <templatelist xsltname="video.xslt" name="Danh sách Video"></templatelist>
  <templatelist xsltname="TNA-Service-List.xslt" name="Danh sách Dịch vụ"></templatelist>
  <templatelist xsltname="TNA-Job.xslt" name="Danh sách Tuyển dụng"></templatelist>
  <templatelist xsltname="TNA-Download.xslt" name="Danh sách Download"></templatelist>
  <templatelist xsltname="TNA-GiaiPhap-List.xslt" name="Danh sách Giải Pháp"></templatelist>

  <templatedetail xsltname="TinTucCT.xslt" name="Chi tiết Tin tức"></templatedetail>
  <templatedetail xsltname="TNA-Service-Detail.xslt" name="Chi tiết Dịch vụ"></templatedetail>
  <templatedetail xsltname="TNA-Job-Detail.xslt" name="Chi tiết Tuyển dụng"></templatedetail>
  <templatedetail xsltname="TNA-Download-Detail.xslt" name="Chi tiết Download"></templatedetail>
  <templatedetail xsltname="TNA-GiaiPhap-Detail.xslt" name="Chi tiết Giải Pháp"></templatedetail>

  <position>
    <add name="Trang chủ - Tin Công Nghệ" value="1" resourcefile="" />
    <add name="Trang chủ - Tin Hoạt Động" value="2" resourcefile="" />
  </position>
</templates>