section.canhcam-contact-2
	article.contact-list
		.container
			.wrap-form
				.row
					.col-12
						p Chúng tôi có thể giúp gì cho bạn. Hãy để lại thông tin để chúng tôi được phục vụ bạn tốt nhất
					.col-lg-5
						.form-group
							input(type="text", name="" placeholder="Họ và tên")
						.form-group
							input(type="text", name="" placeholder="Email")
						.form-group
							input(type="text", name="" placeholder="Số điện thoại")
						.form-group
							input(type="text", name="" placeholder="Tiêu đề")
					.col-lg-7
						.form-group
							textarea(name="" placeholder="Noi dung")
						.frm-btnwrap
							.frm-btn
								input(type="submit", value="Gửi")