.canhcam-home-3
	article.home-list
		.container
			h2.tna__title.tna__title--extra-2 Dịch vụ
			.row
				.col-12
					.wrap-service
						.service-item
							figure
								.boxzoom
									img(src="./img/home/2.jpg", alt="alt")
								figcaption
									h5 Dịch vụ hỗ trợ kỹ thuật máy tính
						.service-item
							figure
								.boxzoom
									img(src="./img/home/3.jpg", alt="alt")
								figcaption
									h5 Thi công hệ thống CNTT
						.service-item
							figure
								.boxzoom
									img(src="./img/home/4.jpg", alt="alt")
								figcaption
									h5 Tư vấn và triển khai giải pháp CNTT
						.service-item
							figure
								.boxzoom
									img(src="./img/home/5.jpg", alt="alt")
								figcaption
									h5 Cung cấp thiết bị và phần mềm
						.service-item
							figure
								.boxzoom
									img(src="./img/home/5.jpg", alt="alt")
								figcaption
									h5 Cung cấp thiết bị và phần mềm
					ul#home3-controls.controls(aria-label='Carousel Navigation', tabindex='0')
								li.prev(data-controls='prev', aria-controls='customize', tabindex='-1')
									span.lnr.lnr-chevron-left
								li.next(data-controls='next', aria-controls='customize', tabindex='-1')
									span.lnr.lnr-chevron-right
