section.download-list
	article
		.container
			h2.tna__title.tna__title--main Download
			.form-search
				input(type="text")
				button Submit
			.table-responsive
				table
					thead
						tr
							th
							th
								span Ngày Đăng
							th
								span Tải về
					tbody
						tr
							td
								a(href="javascript:void(0)")
									span.fas.fa-file-alt
									span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
							td
								span 15/05/2019
							td
								a(href="javascript:void(0)")
									span.lnr.lnr-download
						tr
							td
								a(href="javascript:void(0)")
									span.fas.fa-file-alt
									span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
							td
								span 15/05/2019
							td
								a(href="javascript:void(0)")
									span.lnr.lnr-download
						tr
							td
								a(href="javascript:void(0)")
									span.fas.fa-file-alt
									span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
							td
								span 15/05/2019
							td
								a(href="javascript:void(0)")
									span.lnr.lnr-download
						tr
							td
								a(href="javascript:void(0)")
									span.fas.fa-file-alt
									span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
							td
								span 15/05/2019
							td
								a(href="javascript:void(0)")
									span.lnr.lnr-download
						tr
							td
								a(href="javascript:void(0)")
									span.fas.fa-file-alt
									span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
							td
								span 15/05/2019
							td
								a(href="javascript:void(0)")
									span.lnr.lnr-download
						tr
							td
								a(href="javascript:void(0)")
									span.fas.fa-file-alt
									span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
							td
								span 15/05/2019
							td
								a(href="javascript:void(0)")
									span.lnr.lnr-download
						tr
							td
								a(href="javascript:void(0)")
									span.fas.fa-file-alt
									span Tài liệu giới thiệu các ứng dụng văn phòng và internet để hỗ trợ tập huấn kỹ năng CNTT 
							td
								span 15/05/2019
							td
								a(href="javascript:void(0)")
									span.lnr.lnr-download
		.pages.newspager
			.modulepager
				ul.pagination
					li.PagerCurrentPageCell.active
						span.SelectedPage 1
					li.PagerOtherPageCells
						a.ModulePager 2
					li.PagerOtherPageCells
						a.ModulePager 3
					li.PagerOtherPageCells
						a.ModulePager.NextPage ›
					li.PagerOtherPageCells
						a.ModulePager.LastPage »