section.solution-page-list
	article
		.container
			h2.tna__title.tna__title--main Giải pháp
			.form-search
				input(type="text")
				button Submit
			.row.page-list
				.col-md-4.col-6.item
					figure
						a(href="solution-detail.html")
							.img-box
								img(src="./img/solution/1.jpg", alt="")
						figcaption
							h4 
								a(href="solution-detail.html") kỹ thuật máy tính
								a.edit-link(href="javascript:void(0)")
									span.fa.fa-pencil
				.col-md-4.col-6.item
					figure
						a(href="solution-detail.html")
							.img-box
								img(src="./img/solution/2.jpg", alt="")
						figcaption
							h4 
								a(href="solution-detail.html") Thi công hệ thống cntt
								a.edit-link(href="javascript:void(0)")
									span.fa.fa-pencil
				.col-md-4.col-6.item
					figure
						a(href="solution-detail.html")
							.img-box
								img(src="./img/solution/3.jpg", alt="")
						figcaption
							h4 
								a(href="solution-detail.html") triển khai giải pháp cntt
								a.edit-link(href="javascript:void(0)")
									span.fa.fa-pencil
				.col-md-4.col-6.item
					figure
						a(href="solution-detail.html")
							.img-box
								img(src="./img/solution/4.jpg", alt="")
						figcaption
							h4 
								a(href="solution-detail.html") thiết bị và phần mềm
								a.edit-link(href="javascript:void(0)")
									span.fa.fa-pencil
				.col-md-4.col-6.item
					figure
						a(href="solution-detail.html")
							.img-box
								img(src="./img/solution/5.jpg", alt="")
						figcaption
							h4 
								a(href="solution-detail.html") kỹ thuật máy tính
								a.edit-link(href="javascript:void(0)")
									span.fa.fa-pencil

				.col-md-4.col-6.item
					figure
						a(href="solution-detail.html")
							.img-box
								img(src="./img/solution/6.jpg", alt="")
						figcaption
							h4 
								a(href="solution-detail.html") kỹ thuật máy tính
								a.edit-link(href="javascript:void(0)")
									span.fa.fa-pencil
		.pages.newspager
			.modulepager
				ul.pagination
					li.PagerCurrentPageCell.active
						span.SelectedPage 1
					li.PagerOtherPageCells
						a.ModulePager 2
					li.PagerOtherPageCells
						a.ModulePager 3
					li.PagerOtherPageCells
						a.ModulePager.NextPage ›
					li.PagerOtherPageCells
						a.ModulePager.LastPage »