footer.cc-footer
	.top-footer
		.container
			.row.feature
				.col-sm-6.col-lg-3.item
					.img
						img(src="./img/footer_icon_1.png", alt="")
					.text
						p Giao hàng toàn quốc miễn phí
				.col-sm-6.col-lg-3.item
					.img
						img(src="./img/footer_icon_2.png", alt="")
					.text
						p Bảo hành trong vòng 5 năm
				.col-sm-6.col-lg-3.item
					.img
						img(src="./img/footer_icon_3.png", alt="")
					.text
						p Đổi trả miễn phí 30 ngày
				.col-sm-6.col-lg-3.item
					.img
						img(src="./img/footer_icon_4.png", alt="")
					.text
						p Thanh toán đa dạng tiện lợi
			.row.navigation
				.col-sm-6.col-lg-3.nav-list
					h4 Giới thiệu
					ul
						li
							a(href="javascript:void(0)") Giới thiệu tổng quan
						li
							a(href="javascript:void(0)") Lý do lựa chọn chúng tôi
						li
							a(href="javascript:void(0)") Đối tác - Khách hàng
				.col-sm-6.col-lg-3.nav-list
					h4 Sản phẩm
					ul
						li
							a(href="javascript:void(0)") Thiết bị mạng
						li
							a(href="javascript:void(0)") Thiết bị hội nghị truyền hình
						li
							a(href="javascript:void(0)") Phần mềm giám sát hệ thống
						li
							a(href="javascript:void(0)") Phần mềm Antivirus, phần mềm chống thất thoát dữ liệu


				.col-sm-6.col-lg-3.nav-list
					h4 Dịch vụ
					ul
						li
							a(href="javascript:void(0)") Dịch vụ hỗ trợ kỹ thuật máy tính
						li
							a(href="javascript:void(0)") Thi công hệ thống CNTT
						li
							a(href="javascript:void(0)") Tư vấn và triển khai giải pháp CNTT
				.col-sm-6.col-lg-3.nav-list
					h4 Hỗ trợ
					ul
						li
							a(href="javascript:void(0)") Phương thức đặt hàng

						li
							a(href="javascript:void(0)") Phương thức giao hàng

						li
							a(href="javascript:void(0)") Phương thức thanh toán

						li
							a(href="javascript:void(0)") Chính sách đổi trả hàng

						li
							a(href="javascript:void(0)") Quy định bảo hành

						li
							a(href="javascript:void(0)") Hỏi đáp

						li
							a(href="javascript:void(0)") Download tài liệu
	.bottom-footer
		.container
			.row
				.col-lg-6
					.info
						h4 Công Ty Thương Mại Và Dịch Vụ Công Nghệ Thông Tin TNA
						p 423/9/1 Đào Sư Tích, xã Phước Lộc, huyện Nhà Bè, TP Hồ Chí Minh
						p Điện thoại: (+84) 977 212 455
						p Email: 
							a(href="mailto:contact@tnatech.net") contact@tnatech.net
				.col-lg-6
					.social
						a.fab.fa-facebook-f(href="#")
						a.fab.fa-youtube(href="#")
						a.fab.fa-google-plus-g(href="#")
						a.fab.fa-twitter(href="#")
					.sitemap
						ul
							li
								a(href="#") Điều khoản sử dụng
							li
								a(href="#") Chính sách bảo mật
							li
								a(href="#") Sitemap
					.copyright
						p Copyright © 2018 TNA IT Solution. All right reserved.