section.service-list(bg-img="./img/service/bg_1.png")
	article
		.container
			h2.tna__title các dịch vụ của tna
			.row
				.col-md-6
					figure.item
						.img-box
							img(src="./img/service/2_1.jpg", alt="")
							.title
								p Dịch vụ hỗ trợ kỹ thuật máy tính 
								span (IT Support Services)
						figcaption
							ul
								li Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng
								li Quản lý hồ sơ hệ thống, danh mục thiết bị, tài sản CNTT
								li Hỗ trợ kỹ thuật máy tính
								li Bảo trì, bảo dưỡng hệ thống
								li Sao lưu và bảo vệ dữ liệu
								li Tư vấn, triển khai các phương án kỹ thuật giúp tối ưu hoá hệ thống CNTT của doanh nghiệp.