section.service-list
	article
		.container
			h2.tna__title.tna__title--main các dịch vụ của tna
			.row
				.col-md-6.item
					figure
						.img-box
							img(src="./img/service/2_1.jpg", alt="")
							.title
								p Dịch vụ hỗ trợ kỹ thuật máy tính 
								span (IT Support Services)
						figcaption
							ul
								li Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng
								li Quản lý hồ sơ hệ thống, danh mục thiết bị, tài sản CNTT
								li Hỗ trợ kỹ thuật máy tính
								li Bảo trì, bảo dưỡng hệ thống
								li Sao lưu và bảo vệ dữ liệu
								li Tư vấn, triển khai các phương án kỹ thuật giúp tối ưu hoá hệ thống CNTT của doanh nghiệp.
							a.btn.btn-grad(href="service-detail.html") Chi tiết

				.col-md-6.item
					figure
						.img-box
							img(src="./img/service/2_1.jpg", alt="")
							.title
								p Dịch vụ hỗ trợ kỹ thuật máy tính 
								span (IT Support Services)
						figcaption
							p Tư vấn, thiết kế và thi công hệ thống Công nghệ thông tin cho văn phòng, tòa nhà, nhà xưởng, trung tâm dữ liệu:
							ul
								li Hệ thống mạng có dây, không dây.
								li Hệ thống điện nhẹ.
								li Hệ thống camera an ninh.
								li Tổng đài điện thoại.
							a.btn.btn-grad(href="service-detail.html") Chi tiết

				.col-md-6.item
					figure
						.img-box
							img(src="./img/service/2_1.jpg", alt="")
							.title
								p Dịch vụ hỗ trợ kỹ thuật máy tính 
								span (IT Support Services)
						figcaption
							p Tư vấn, thiết kế và thi công hệ thống Công nghệ thông tin cho văn phòng, tòa nhà, nhà xưởng, trung tâm dữ liệu:
							ul
								li Hệ thống mạng có dây, không dây.
								li Hệ thống điện nhẹ.
								li Hệ thống camera an ninh.
								li Tổng đài điện thoại.
							a.btn.btn-grad(href="service-detail.html") Chi tiết


				.col-md-6.item
					figure
						.img-box
							img(src="./img/service/2_1.jpg", alt="")
							.title
								p Dịch vụ hỗ trợ kỹ thuật máy tính 
								span (IT Support Services)
						figcaption
							ul
								li Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng
								li Quản lý hồ sơ hệ thống, danh mục thiết bị, tài sản CNTT
								li Hỗ trợ kỹ thuật máy tính
								li Bảo trì, bảo dưỡng hệ thống
								li Sao lưu và bảo vệ dữ liệu
								li Tư vấn, triển khai các phương án kỹ thuật giúp tối ưu hoá hệ thống CNTT của doanh nghiệp.
							a.btn.btn-grad(href="service-detail.html") Chi tiết