.canhcam-home-4
	article.home-list
		.container
			h2.tna__title.tna__title--extra-2 Sản phẩm nổi bật
			.row
				.col-12
					.wrap-product
						.project-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/1.png", alt="alt")
										//- .product-btn
										//- 	a.addcart(href="#") Thêm vào giỏ hàng
										//- 	a.detail(href="") Xem chi tiết
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ
						.project-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/2.png", alt="alt")
										//- .product-btn
										//- 	a.addcart(href="#") Thêm vào giỏ hàng
										//- 	a.detail(href="") Xem chi tiết
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ
						.project-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/3.png", alt="alt")
										//- .product-btn
										//- 	a.addcart(href="#") Thêm vào giỏ hàng
										//- 	a.detail(href="") Xem chi tiết
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ
						.project-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/4.png", alt="alt")
										//- .product-btn
										//- 	a.addcart(href="#") Thêm vào giỏ hàng
										//- 	a.detail(href="") Xem chi tiết
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ
						.project-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/5.png", alt="alt")
										//- .product-btn
										//- 	a.addcart(href="#") Thêm vào giỏ hàng
										//- 	a.detail(href="") Xem chi tiết
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ
					ul#home4-controls.controls(aria-label='Carousel Navigation', tabindex='0')
						li.prev(data-controls='prev', aria-controls='customize', tabindex='-1')
							span.lnr.lnr-chevron-left
						li.next(data-controls='next', aria-controls='customize', tabindex='-1')
							span.lnr.lnr-chevron-right
					.seemore
						a(href="#") Xem tất cả
