section.canhcam-carousel-1
	article.carousel-list
		.container
			.row
				.col-12
					.carousel-head
						h2 Sản phẩm tương tự
						ul#carousel-controls.controls(aria-label='Carousel Navigation', tabindex='0')
							li.prev(data-controls='prev', aria-controls='customize', tabindex='-1')
								i.fas.fa-chevron-left
							li.next(data-controls='next', aria-controls='customize', tabindex='-1')
								i.fas.fa-chevron-right
				.col-12
					.carousel-body
						.c-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/2.png", alt="alt")
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ
						.c-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/3.png", alt="alt")
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ
						.c-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/4.png", alt="alt")
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ
						.c-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/5.png", alt="alt")
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ
						.c-item
							.tna-product-item
								figure
									.boxzoom
										img(src="./img/product/5.png", alt="alt")
									figcaption
										h4
											a(href="product_detail.html") Camera VANTECH
										.code VP-314TVI
										.price 633.000 đ