section.canhcam-gallery-1
	article.gallery-list
		.container
			.row
				.col-lg-6.top-list
					.row
						.col-12.item.item-big
							figure
								.boxzoom
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="alt")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
								//- figcaption
								//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
					.row
						.col-md-6.col-12.item
							figure
								.boxzoom
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="alt")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
								//- figcaption
								//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
						.col-md-6.col-12.item
							figure
								.boxzoom
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="alt")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
								//- figcaption
								//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
				.col-lg-6.part-list
					.row
						.col-md-6.col-12.item
							figure
								.boxzoom
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="alt")
									a(href="/img/gallery/1.jpg")
										img(src="/img/gallery/1.jpg", alt="")
									a(href="/img/gallery/2.jpg")
										img(src="/img/gallery/2.jpg", alt="")
									a(href="/img/gallery/2.jpg")
										img(src="./img/gallery/2.jpg", alt="")
									a(href="/img/gallery/2.jpg")
										img(src="/img/gallery/2.jpg", alt="")
								//- figcaption
								//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
						.col-md-6.col-12.item
							figure
								.boxzoom
									a(href="/img/gallery/2.jpg")
										img(src="/img/gallery/2.jpg", alt="alt")
									a(href="./img/gallery/2.jpg")
										img(src="./img/gallery/2.jpg", alt="")
									a(href="./img/gallery/2.jpg")
										img(src="./img/gallery/2.jpg", alt="")
									a(href="./img/gallery/2.jpg")
										img(src="./img/gallery/2.jpg", alt="")
									a(href="./img/gallery/2.jpg")
										img(src="./img/gallery/2.jpg", alt="")
								//- figcaption
								//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
					.row
						.col-12.item.item-big
							figure
								.boxzoom
									a(href="/img/gallery/2.jpg")
										img(src="/img/gallery/2.jpg", alt="alt")
									a(href="/img/gallery/2.jpg")
										img(src="/img/gallery/2.jpg", alt="")
									a(href="./img/gallery/2.jpg")
										img(src="./img/gallery/2.jpg", alt="")
									a(href="/img/gallery/2.jpg")
										img(src="./img/gallery/2.jpg", alt="")
									a(href="/img/gallery/2.jpg")
										img(src="/img/gallery/2.jpg", alt="")
								//- figcaption
								//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
			.row
				.col-lg-3.col-md-6.col-12.item
					figure
						.boxzoom
							a(href="/img/gallery/2.jpg")
								img(src="/img/gallery/2.jpg", alt="alt")
							a(href="./img/gallery/2.jpg")
								img(src="./img/gallery/2.jpg", alt="")
							a(href="./img/gallery/2.jpg")
								img(src="./img/gallery/2.jpg", alt="")
							a(href="./img/gallery/2.jpg")
								img(src="./img/gallery/2.jpg", alt="")
							a(href="./img/gallery/2.jpg")
								img(src="./img/gallery/2.jpg", alt="")
						//- figcaption
						//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
				.col-lg-3.col-md-6.col-12.item
					figure
						.boxzoom
							a(href="/img/gallery/2.jpg")
								img(src="/img/gallery/2.jpg", alt="alt")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
						//- figcaption
						//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
				.col-lg-3.col-md-6.col-12.item
					figure
						.boxzoom
							a(href="/img/gallery/2.jpg")
								img(src="/img/gallery/2.jpg", alt="alt")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
						//- figcaption
						//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
				.col-lg-3.col-md-6.col-12.item
					figure
						.boxzoom
							a(href="/img/gallery/2.jpg")
								img(src="/img/gallery/2.jpg", alt="alt")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
							a(href="/img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="")
						//- figcaption
						//- 	h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town