<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <add name="Sản phẩm trang chủ - bán chạy" value="1" resourcefile="" />
    <add name="Sản phẩm đã xem" value="0" resourcefile="" />
	<add name="Sản phẩm liên quan - giỏ hàng" value="10" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  <templatelist xsltname="TNA-Product-List.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="TNA-GiaiPhap-List.xslt" name="Danh sách Giải pháp"></templatelist>

  
  <templatedetail xsltname="TNA-Product-Detail.xslt" name="Chi tiết sản phẩm" />
  <templatedetail xsltname="TNA-GiaiPhap-Detail.xslt" name="Chi tiết Giải pháp"></templatedetail>
</templates>