section.service-detail
	article
		.container
			h2.tna__title.tna__title--main Dịch vụ hỗ trợ kỹ thuật máy tính
				br
				span (IT support services)
			.row.no-gutters.briefContent
				.col-lg-6
					.content
						h4 Dịch vụ bảo trì máy tính
						ul
							li Sửa chữa bảo trì các hư hỏng của hệ thống máy tính, máy in, thiết bị văn phòng.
							li Cài đặt, khắc phục sự cố phần mềm
							li Hỗ trợ kỹ thuật người dùng từ xa và tận nơi
							li Cập nhật bản vá lỗi hệ điều hành
							li Cập nhật chương trình chống virus
							li Vệ sinh máy tính​ theo yêu cầu
				.col-lg-5.offset-lg-1
					.img
						img(src="./img/service/dt_1.jpg", alt="")
			.row.no-gutters.fullContent
				.col-12
					.content
						h4 Quản trị hệ thống công nghệ thông tin
						ul
							li Quản trị hệ thống máy chủ vật lý, máy chủ ảo
							li Quản trị hệ thống internet, mạng nội bộ, wifi, mạng WAN, internet.
							li Giám sát hoạt động của toàn bộ hệ thống thông qua các phần mềm giám sát giúp dự đoán và xử lý kịp thời các vấn đề tìềm ẩn.
							li Quản trị hệ thống máy chủ vật lý, máy chủ ảo
							li Quản trị hệ thống internet, mạng nội bộ, wifi, mạng WAN, internet.
							li Giám sát hoạt động của toàn bộ hệ thống thông qua các phần mềm giám sát giúp dự đoán và xử lý kịp thời các vấn đề tìềm ẩn.
				.col-lg-6
					.img
						img(src="./img/service/dt_2.jpg", alt="")
				.col-lg-6
					.content
						h4 Quản lý danh mục thiết bị CNTT và phần mềm:
						ul
							li Lập hồ sơ quản lý danh mục thiết bị công nghệ thông tin
							li Lập sơ đồ kết nối các thành phần của hệ thống
							li Lập bản vẽ mặt bằng bố trí thiết bị
							li Quản lý tài khoản, tài nguyên hệ thống
						h4 Quản lý danh mục thiết bị CNTT và phần mềm:
						ul
							li Lập hồ sơ quản lý danh mục thiết bị công nghệ thông tin
							li Lập sơ đồ kết nối các thành phần của hệ thống
							li Lập bản vẽ mặt bằng bố trí thiết bị
							li Quản lý tài khoản, tài nguyên hệ thống
						h4 Quản lý danh mục thiết bị CNTT và phần mềm:
						ul
							li Lập hồ sơ quản lý danh mục thiết bị công nghệ thông tin
							li Lập sơ đồ kết nối các thành phần của hệ thống
							li Lập bản vẽ mặt bằng bố trí thiết bị
							li Quản lý tài khoản, tài nguyên hệ thống