<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Header Menu" value="1" resourcefile="" />
      <add name="Footer Menu 1" value="2" resourcefile="" />
      <add name="Footer Menu 2" value="4" resourcefile="" />
      <add name="Footer Menu 3" value="8" resourcefile="" />
      <add name="Footer Menu 4" value="16" resourcefile="" />
      <add name="Home - NewsTab - Nav" value="32" resourcefile="" />
      <add name="Giải pháp" value="64" resourcefile="" />
      <add name="Giải pháp-menuside" value="128" resourcefile="" />
      <add name="About-Nav" value="256" resourcefile="" />
    </position>

</settings>