section.canhcam-faq-1
	article.faqs-list
		.container
			.row
				.col-12
					h1.tna__title.tna__title--extra-3 Hỏi đáp
				.col-lg-7.order-lg-1
					.faq-block
						.faq-question.active
							h3 TNAtech cung cấp những dịch vụ nào?
						.faq-answer
							ol
								li - Dịch vụ hỗ trợ kỹ thuật máy tính
									ul
										li - Dịch vụ bảo trì máy tính
										li - Quản trị hệ thống công nghệ thông tin
								li - Thi công hệ thống công nghệ thông tin
								li - Tư vấn và triển khai hệ thống công nghệ thông tin
								li - Cung cấp thiết bị và phần mềm
					.faq-block
						.faq-question
							h3 TNAtech cung cấp những dịch vụ nào?
						.faq-answer
							ol
								li - Dịch vụ hỗ trợ kỹ thuật máy tính
									ul
										li - Dịch vụ bảo trì máy tính
										li - Quản trị hệ thống công nghệ thông tin
								li - Thi công hệ thống công nghệ thông tin
								li - Tư vấn và triển khai hệ thống công nghệ thông tin
								li - Cung cấp thiết bị và phần mềm
					.faq-block
						.faq-question
							h3 TNAtech cung cấp những dịch vụ nào?
						.faq-answer
							ol
								li - Dịch vụ hỗ trợ kỹ thuật máy tính
									ul
										li - Dịch vụ bảo trì máy tính
										li - Quản trị hệ thống công nghệ thông tin
								li - Thi công hệ thống công nghệ thông tin
								li - Tư vấn và triển khai hệ thống công nghệ thông tin
								li - Cung cấp thiết bị và phần mềm
					.faq-block
						.faq-question
							h3 TNAtech cung cấp những dịch vụ nào?
						.faq-answer
							ol
								li - Dịch vụ hỗ trợ kỹ thuật máy tính
									ul
										li - Dịch vụ bảo trì máy tính
										li - Quản trị hệ thống công nghệ thông tin
								li - Thi công hệ thống công nghệ thông tin
								li - Tư vấn và triển khai hệ thống công nghệ thông tin
								li - Cung cấp thiết bị và phần mềm
				.col-lg-5
					.wrap-form
						.wrap-form-inner
							h5 Gửi câu hỏi
							.form-group
								label Họ tên
								input(type="text", name="")
							.form-group
								label Email
								input(type="text", name="")
							.form-group
								label Tiêu đề
								input(type="text", name="")
							.form-group
								label Nội dung
								textarea(name="")
						.frm-btnwrap
							.frm-btn
								input(type="submit", value=" Gửi")
