section.canhcam-product-1
	article.product-list
		.container
			.row.custom-row
				.col-lg-3.custom-col-3
					.product-nav
						include ../../nav/n-3/index
				.col-lg-9.custom-col-9
					.product-list-inner
						.product-head
							h1.tna__title.tna__title--extra-3 Sản phẩm nổi bật
							.product-search
								input(type="text", name="")
								button(type="submit")
									em.fas.fa-search
						.product-sort
							label Sắp xếp theo
							.sort-select
								select(name="")
									option(value="") Item 1
									option(value="") Item 2
									option(value="") Item 3
									option(value="") Item 4

