section.canhcam-product-1
	article.product-list
		.container
			.row.custom-row
				.col-lg-3.custom-col-3
					.product-nav
						include ../../nav/n-3/index
				.col-lg-9.custom-col-9
					.product-list-inner
						.product-head
							h1.tna__title.tna__title--extra-3 Sản phẩm nổi bật
							.product-search
								input(type="text", name="")
								button(type="submit")
									em.fas.fa-search
						.product-sort
							label Sắp xếp theo
							.sort-select
								select(name="")
									option(value="") Item 1
									option(value="") Item 2
									option(value="") Item 3
									option(value="") Item 4
						.product-body
							.row
								.col-md-6.col-lg-4.tna-product-item
									figure
										.boxzoom
											img(src="./img/product/1.png", alt="alt")
											.product-btn
												a.addcart(href="#") Thêm vào giỏ hàng
												a.detail(href="") Xem chi tiết
										figcaption
											h4
												a(href="#") Camera VANTECH
											.code VP-314TVI
											.price 633.000 đ
								.col-md-6.col-lg-4.tna-product-item
									figure
										.boxzoom
											img(src="./img/product/2.png", alt="alt")
										figcaption
											h4
												a(href="#") Camera VANTECH
											.code VP-314TVI
											.price 633.000 đ
								.col-md-6.col-lg-4.tna-product-item
									figure
										.boxzoom
											img(src="./img/product/3.png", alt="alt")
										figcaption
											h4
												a(href="#") Camera VANTECH
											.code VP-314TVI
											.price 633.000 đ
								.col-md-6.col-lg-4.tna-product-item
									figure
										.boxzoom
											img(src="./img/product/4.png", alt="alt")
										figcaption
											h4
												a(href="#") Camera VANTECH
											.code VP-314TVI
											.price 633.000 đ
								.col-md-6.col-lg-4.tna-product-item
									figure
										.boxzoom
											img(src="./img/product/5.png", alt="alt")
										figcaption
											h4
												a(href="#") Camera VANTECH
											.code VP-314TVI
											.price 633.000 đ
								.col-md-6.col-lg-4.tna-product-item
									figure
										.boxzoom
											img(src="./img/product/6.png", alt="alt")
										figcaption
											h4
												a(href="#") Camera VANTECH
											.code VP-314TVI
											.price 633.000 đ
								.col-md-6.col-lg-4.tna-product-item
									figure
										.boxzoom
											img(src="./img/product/7.png", alt="alt")
										figcaption
											h4
												a(href="#") Camera VANTECH
											.code VP-314TVI
											.price 633.000 đ
								.col-md-6.col-lg-4.tna-product-item
									figure
										.boxzoom
											img(src="./img/product/8.png", alt="alt")
										figcaption
											h4
												a(href="#") Camera VANTECH
											.code VP-314TVI
											.price 633.000 đ
								.col-md-6.col-lg-4.tna-product-item
									figure
										.boxzoom
											img(src="./img/product/9.png", alt="alt")
										figcaption
											h4
												a(href="#") Camera VANTECH
											.code VP-314TVI
											.price 633.000 đ


