section.solution-list
	article
		.container
			.row
				.col-lg-3
					.solution-navigation
						h3 Giải pháp
						ul
							li
								a(href="javascript:void(0)") Kỹ thuật máy tính
							li
								a(href="javascript:void(0)") Thi công hệ thống CNTT
							li.active
								a(href="javascript:void(0)") Triển khai giải pháp CNTT
							li
								a(href="javascript:void(0)") Thiết bị và phần mềm
							li
								a(href="javascript:void(0)") Bộ giải pháp camera giám sát
							li
								a(href="javascript:void(0)") Bộ giải pháp tường lứa
				.col-lg-9
					.row.solution-title
						.col-12
							h2.tna__title.tna__title--main Kỹ thuật máy tính
							.form-search
								input(type="text")
								button Submit
					.row.item-list
						.item.col-sm-6.col-lg-4
							figure
								a(href="javascript:void(0)")
									.img-box
										img(src="./img/solution/2.jpg", alt="")
								figcaption
									h4 
										a(href="solution-detail.html") Giải pháp tường lửa và bảo mật
										a.edit-link(href="javascript:void(0)")
											span.fa.fa-pencil
									p Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng. Đồng thời hỗ trợ, bảo trì và bảo dưỡng kỹ thuật máy tính. Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng. Đồng thời hỗ trợ, bảo trì và bảo dưỡng kỹ thuật máy tính.
						.item.col-sm-6.col-lg-4
							figure
								a(href="javascript:void(0)")
									.img-box
										img(src="./img/solution/2.jpg", alt="")
								figcaption
									h4 
										a(href="solution-detail.html") Giải pháp tường lửa và bảo mật
										a.edit-link(href="javascript:void(0)")
											span.fa.fa-pencil
									p Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng. Đồng thời hỗ trợ, bảo trì và bảo dưỡng kỹ thuật máy tính.
						.item.col-sm-6.col-lg-4
							figure
								a(href="javascript:void(0)")
									.img-box
										img(src="./img/solution/2.jpg", alt="")
								figcaption
									h4 
										a(href="solution-detail.html") Giải pháp tường lửa và bảo mật
										a.edit-link(href="javascript:void(0)")
											span.fa.fa-pencil
									p Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng. Đồng thời hỗ trợ, bảo trì và bảo dưỡng kỹ thuật máy tính.
						.item.col-sm-6.col-lg-4
							figure
								a(href="javascript:void(0)")
									.img-box
										img(src="./img/solution/2.jpg", alt="")
								figcaption
									h4 
										a(href="solution-detail.html") Giải pháp tường lửa và bảo mật
										a.edit-link(href="javascript:void(0)")
											span.fa.fa-pencil
									p Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng. Đồng thời hỗ trợ, bảo trì và bảo dưỡng kỹ thuật máy tính.
						.item.col-sm-6.col-lg-4
							figure
								a(href="javascript:void(0)")
									.img-box
										img(src="./img/solution/2.jpg", alt="")
								figcaption
									h4 
										a(href="solution-detail.html") Giải pháp tường lửa và bảo mật
										a.edit-link(href="javascript:void(0)")
											span.fa.fa-pencil
									p Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng. Đồng thời hỗ trợ, bảo trì và bảo dưỡng kỹ thuật máy tính.
						.item.col-sm-6.col-lg-4
							figure
								a(href="javascript:void(0)")
									.img-box
										img(src="./img/solution/2.jpg", alt="")
								figcaption
									h4 
										a(href="solution-detail.html") Giải pháp tường lửa và bảo mật
										a.edit-link(href="javascript:void(0)")
											span.fa.fa-pencil
									p Vận hành, giám sát, khắc phục sự cố liên quan đến hệ thống máy chủ, thiết bị lưu trữ và các thiết bị mạng. Đồng thời hỗ trợ, bảo trì và bảo dưỡng kỹ thuật máy tính.
					.pages.newspager
						.modulepager
							ul.pagination
								li.PagerCurrentPageCell.active
									span.SelectedPage 1
								li.PagerOtherPageCells
									a.ModulePager 2
								li.PagerOtherPageCells
									a.ModulePager 3
								li.PagerOtherPageCells
									a.ModulePager.NextPage ›
								li.PagerOtherPageCells
									a.ModulePager.LastPage »