.canhcam-tab-3
	article.tabs-list
		.tab-head
			p Tải driver, hướng dẫn sử dụng cho thiết bị
		.tab-body
			.tab-table
				table.table
					tbody
						tr
							th(scope='row')
								a(href="") Hướng dẫn sử dụng thiết bị
							td
								span.fas.fa-download
						tr
							th(scope='row')
								a(href="") Hướng dẫn sử dụng thiết bị
							td
								span.fas.fa-download
						tr
							th(scope='row')
								a(href="") Hướng dẫn sử dụng thiết bị
							td
								span.fas.fa-download
						tr
							th(scope='row')
								a(href="") Hướng dẫn sử dụng thiết bị
							td
								span.fas.fa-download