section.canhcam-job-1
	article.jobs-list
		.container
			h1.tna__title.tna__title--extra-3 thông tin tuyển dụng
			.row
				.col-12
					table.table
						thead
							tr
								th(scope='col') Vị trí ứng tuyển
								th(scope='col') Số lượng ứng tuyển
								th(scope='col') Địa điểm
								th(scope='col') Hạn nộp hồ sơ
						tbody
							tr
								th(scope='row') 
									a(href="job-detail.html") Tuyển gấp nhân viên tạp vụ
								td 01
								td Tp. Hồ Chí Minh
								td 15.05.2019
							tr
								th(scope='row') 
									a(href="job-detail.html") Tuyển dụng Nhân viên kinh doanh tại Hồ Chí Minh
								td 05
								td Tp. Hồ Chí Minh
								td 15.05.2019
							tr
								th(scope='row') 
									a(href="job-detail.html") Tuyển Nhân viên bán hàng
								td 05
								td Tp. Hồ Chí Minh
								td 15.05.2019
