section.canhcam-home-5
	article.home-list
		.nav-control
			include ../../nav/n-4/index
		.tab-control.container
			.tab-panel#tab-1
				.row
					.col-lg-6
						.top-news
							figure
								.boxzoom
									a(href="news_detail.html")
										img(src="./img/news/1.jpg", alt="")
								figcaption
									time 30/10/2018
									h2 Giải pháp hội nghị truyền hình vừa túi tiền cho các phòng họp có quy mô từ trung bình tới lớn
									p Giải pháp hội nghị video của chúng tôi dành cho các căn phòng chứa 14-20 người, mang lại video HD chất lượng cao và âm thanh trong trẻo, cho phép mọi không gian hội họp trở thành không gian hợp tác video.
					.col-lg-6
						.part-news
							figure
								.boxzoom
									a(href="news_detail.html")
										img(src="./img/news/2.jpg", alt="alt")
								figcaption
									time 30/10/2018
									h2 Công nghệ và Sự sáng tạo trong Kỷ nguyên số - Mối quan hệ không thể tách rời
							figure
								.boxzoom
									a(href="#")
										img(src="./img/news/3.jpg", alt="alt")
								figcaption
									time 30/10/2018
									h2 Doanh nghiệp muốn thành công phải bắt kịp xu thế chuyển đổi “Tổ chức số”
							figure
								.boxzoom
									a(href="#")
										img(src="./img/news/4.jpg", alt="alt")
								figcaption
									time 30/10/2018
									h2 Bộ Tài chính đứng đầu trong triển khai ứng dụng công nghệ thông tin
			.tab-panel#tab-2
				.row
					.col-lg-6
						.top-news
							figure
								.boxzoom
									a(href="news_detail.html")
										img(src="./img/news/1.jpg", alt="")
								figcaption
									time 30/10/2018
									h2 Giải pháp hội nghị truyền hình vừa túi tiền cho các phòng họp có quy mô từ trung bình tới lớn
									p Giải pháp hội nghị video của chúng tôi dành cho các căn phòng chứa 14-20 người, mang lại video HD chất lượng cao và âm thanh trong trẻo, cho phép mọi không gian hội họp trở thành không gian hợp tác video.
					.col-lg-6
						.part-news
							figure
								.boxzoom
									a(href="news_detail.html")
										img(src="./img/news/2.jpg", alt="alt")
								figcaption
									time 30/10/2018
									h2 Công nghệ và Sự sáng tạo trong Kỷ nguyên số - Mối quan hệ không thể tách rời