.canhcam-nav-4
	article.nav-list
		.container
			.row
				.col-12
					h1.tna__title.tna__title--extra-3 Tin tức
					a.nav__toogle(href="javascript:void(0)") Danh mục 
					nav
						ul
							li
								a.active(href="javascript:void(0)" data-tab="tab-1") Tin công nghệ
							li
								a(href="javascript:void(0)" data-tab="tab-2") Tin hoạt động