.canhcam-nav-3
	article.navs-list
		h2 Sản phẩm
		nav
			ul
				li
					a.active(href="#") Phần mềm
					.collapse-btn.active
						em.lnr.lnr-chevron-down
					.nav-sub
						ul
							li
								a(href="#") Watchguard
							li
								a(href="#") Fortinet
							li
								a(href="#") Sophos
							li
								a(href="#") Cisco
							li
								a(href="#") Juniper
							li
								a(href="#") D-links
							li
								a(href="#") Links ys
				li
					a(href="#") Thiết bị mạng
					.collapse-btn
						em.lnr.lnr-chevron-down
					.nav-sub
						ul
							li
								a(href="#") Watchguard
							li
								a(href="#") Fortinet
							li
								a(href="#") Sophos
							li
								a(href="#") Cisco
							li
								a(href="#") Juniper
							li
								a(href="#") D-links
							li
								a(href="#") Links ys
				li
					a(href="#") Camera
					.collapse-btn
						em.lnr.lnr-chevron-down
					.nav-sub
						ul
							li
								a(href="#") Watchguard
							li
								a(href="#") Fortinet
							li
								a(href="#") Sophos
							li
								a(href="#") Cisco
							li
								a(href="#") Juniper
							li
								a(href="#") D-links
							li
								a(href="#") Links ys
